
{{define "title"}}whoknowkmh - {{.title}}{{end}}

{{define "content"}}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-12">

      <div class="row">
        <div class="col-xl-9 col-lg-12 mx-auto">
          <iframe style="width: 100%;height: 800px;" src="https://docs.google.com/document/d/e/2PACX-1vSlxTgAqu2LOTLGGk9Pou6DnWSYe9QdGnpPyyFiH7uGrRghisoQO15uVLKHhAZGeg/pub?embedded=true"></iframe>
        </div>
      </div>
      
    </div>
  </div>
  <!-- END row -->


</div>
{{end}}

{{define "scripts"}}
<script>
  $('.probootstrap-nav>ul>li').removeClass('active');
  $('.probootstrap-nav>ul>li#about-nav').addClass('active');
</script>
{{end}}