
{{define "title"}}whoknowkmh - {{.data.title}}{{end}}

{{define "content"}}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-12">
      <p class="mb-5 text-center mt-5"><img src="/assets/1610116669577.gif" alt="Card image cap"></p>
    </div>
  </div>
  <!-- END row -->


</div>
{{end}}

{{define "scripts"}}
<script>
  $('.probootstrap-nav>ul>li').removeClass('active');
  $('.probootstrap-nav>ul>li#blog-nav').addClass('active');
</script>
{{end}}
