
{{define "title"}}whoknowkmh - {{.data.title}}{{end}}

{{define "content"}}
<div class="card-columns">
{{range .data.photos }}
  <div class="card">
    <a href="/gallery/{{.ID}}/" title="See more photo details">
    <img class="card-img-top probootstrap-animate Sirv" data-src="{{.Url}}?q=45" data-options="autostart:visible" alt="{{.Name}}" title="{{.Name}}">
    </a>
  </div>

{{end}}
</div>
{{end}}

{{define "scripts"}}
<script>
  $('.probootstrap-nav>ul>li').removeClass('active');
  $('.probootstrap-nav>ul>li#gallery-nav').addClass('active');
</script>
{{end}}