main.probootstrap-main.js-probootstrap-main {
    margin-top: 3rem!important;
}

.probootstrap-aside .probootstrap-close-menu,
.probootstrap-main .probootstrap-bar .probootstrap-toggle {
    cursor: pointer;
}

.probootstrap-main .card-columns .card a:before {
    display: flex;
    font-size: 1em;
    align-items: center;
    justify-content: center;
    content: "TAKE A LOOK";
    color: #000;
}

#photo-info {
    overflow: auto;
    line-break: auto;
}
#photo-info .photo-title {
border-bottom: 2px solid #1FAD9F;
}
#photo-info p.reference {
border-bottom: 1px solid #1FAD9F;
display: inline-block;
color: #000;
}
#photo-info p#photo-download {
cursor: pointer;
}
#photo-info p#photo-download:hover  {
color: #1FAD9F;
-webkit-transition: .3s all ease;
-o-transition: .3s all ease;
transition: .3s all ease;
}

#photo-card {
    position: relative;
}
#photo-card p#previous {
    position: absolute;
    left: 0;
    top: 40%;
    font-size: 2em;
}
#photo-card p#next {
    position: absolute;
    right: 0;
    top: 40%;
    font-size: 2em;
}

#photo-card p#next a,
#photo-card p#previous a {
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 50%;
    opacity: 0.5;
    padding: 0px 25px;
    color: currentColor;
}
#photo-card p#next a:hover,
#photo-card p#previous a:hover {
    background-color: #1FAD9F;
    color: white;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
}
.card.img-loaded a {
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

@media screen and (min-width: 1140px) {
.probootstrap-main .card-columns {
    -webkit-columns: 6;
    -moz-columns: 6;
    columns: 6; } }
@media screen and (max-width: 1140px) {
.probootstrap-main .card-columns {
    -webkit-columns: 4;
    -moz-columns: 4;
    columns: 4; } }
@media screen and (max-width: 960px) {
.probootstrap-main .card-columns {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3; } }
ul.list-unstyled.d-flex.probootstrap-aside-social {
    border-top: 1px solid;
    border-bottom: 1px solid;
}
@media screen and (max-width: 768px) {
.probootstrap-main .card-columns {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3; } }
ul.list-unstyled.d-flex.probootstrap-aside-social {
    border-top: 1px solid;
    border-bottom: 1px solid;
}
@media screen and (max-width: 576px) {
.probootstrap-main .card-columns {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1; }
ul.list-unstyled.d-flex.probootstrap-aside-social {
    border-top: 1px solid;
    border-bottom: 1px solid;
}}
